{% extends 'base.html' %}
{% block title %}signin{% endblock %}
{% block navbar %}
{% endblock %}

{% block content%}
     <div class="user-info-box">
        <h1 class="p-name">Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
        <div class="p-det">
            <p>Username: <span class="u-details">{{ user.username }}</span></p>
            <p>Email: <span class="u-details">{{ user.email }}</span></p>
            <p>First Name: <span class="u-details" id="u-fname">{{ user.first_name }}</span></p>
            <p>Last Name: <span class="u-details" id="u-lname">{{ user.last_name }}</span></p>
        </div>
        <form method="post" action="{% url 'delete' %}">
            {% csrf_token %}
            {% if delete %}
                <p>Are you sure you want to delete your profile?</p>
                <button class="btn btn-warning pl-3 pr-3" type="submit">Delete</button>
            {% else %}
                <a class="btn btn-warning pl-3 pr-3"  href="{% url 'delete' %}">Delete</a>
            {% endif %}
        </form>
    </div>
{% endblock %}